.all-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.allproducts-content {
  display: flex;
  display: flex;
  justify-content: center;
}
.color-paginate {
  color: white;
  background-color: brown;
}
.page-item {
  background-color: black;
  color: aliceblue;
}
